@model IEnumerable<WebDevStd2531.Models.Product>
@{
	var defaultType = "Default";
    var products = Model ?? Enumerable.Empty<WebDevStd2531.Models.Product>();
}

@if (products.Any())
{
    <div id="myTab" class="pull-right">
        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
    </div>
    <br class="clr" />
    <hr class="soft" />

    <div class="tab-content">
        <div class="tab-pane" id="listView">
            @foreach (var product in products)
            {
                <div class="row">
                    <div class="span2">
                        <a href="@Url.Action("ProdDetail", new { Id = product.Id })">
                            <img src="@product.ImageUrl" alt="@product.Name" style="max-width: 100%;" />
                        </a>
                    </div>
                    <div class="span4">
                        <h3>@product.Name</h3>
                        <hr class="soft" />
                        <h5>Category: @(product.Category?.Name ?? "N/A")</h5>
                        <p>
                            @product.Description
                        </p>
                        <a class="btn btn-small pull-right" href="@Url.Action("ProdDetail", new { Id = product.Id })">View Details</a>
                        <br class="clr" />
                    </div>
                    <div class="span3 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3> $@product.Price.ToString("N2")</h3>
                            <label class="checkbox">
                                <input type="checkbox">  Adds product to compare
                            </label><br />
                            <div class="btn-group">
                                <a href="#" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                <a href="@Url.Action("ProdDetail", new { Id = product.Id })" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="soft" />
            }
        </div>

        <div class="tab-pane active" id="blockView">
            <ul class="thumbnails">
                @foreach (var product in products)
                {
                    <li class="span3">
                        <div class="thumbnail">
                            <a href="@Url.Action("ProdDetail", new { Id = product.Id })">
                                <img src="@product.ImageUrl" alt="@product.Name" />
                            </a>
                            <div class="caption">
                                <h5>@product.Name</h5>
                                <p>
                                    @(product.Description.Length > 50 ? product.Description.Substring(0, 50) + "..." : product.Description)
                                </p>
                                <h4 style="text-align:center">
                                    @* <a class="btn" href="@Url.Action("ProdDetail", new { Id = product.Id })"> <i class="icon-zoom-in"></i></a> *@
                                    <a class="btn"
                                       asp-controller="Prod"
                                       asp-action="ProdDetail"
                                       asp-route-id="@product.Id">
                                        <i class="icon-zoom-in"></i>
                                    </a>
                                    <form asp-controller="Prod" asp-action="AddCartItem" method="post" style="display:inline;">
                                        <input type="hidden" name="ProductId" value="@product.Id" />
                                        <input type="hidden" name="Quantity" value="1" />
                                        <input type="hidden" name="SelectedType" value="@defaultType" />

                                        <button type="submit" class="btn">
                                            Add to <i class="icon-shopping-cart"></i>
                                        </button>
                                    </form>
                                    @* <a class="btn"
                                       asp-controller="Prod"
                                       asp-action="AddCartSingle"
                                       asp-route-id="@product.Id">Add to <i class="icon-shopping-cart"></i></a> *@
                                    <a class="btn btn-primary" href="#">$@product.Price.ToString("N2")</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <hr class="soft" />
        </div>
    </div>
    <br class="clr">
}
else
{
    <div class="alert alert-info">
        <h4 class="alert-heading">No Related Products Found!</h4>
        <p>Sorry, there are no other related products in this category at this time.</p>
        <p>Please check back later or explore our <a asp-controller="Home" asp-action="Index">other categories</a>.</p>
    </div>
}