@model WebDevStd2531.Models.ProductDetailModel
@{
	ViewData["Title"] = Model.MainProduct.Name;
}

@{
	var mProduct = Model.MainProduct;
}

<ul class="breadcrumb">
	<li><a asp-controller="Home" asp-action="Index">Home</a> <span class="divider">/</span></li>

	@if (mProduct.Category?.GrandCategory != null)
	{
		<li><a href="#">@mProduct.Category.GrandCategory.Name</a> <span class="divider">/</span></li>
	}
	@if (mProduct.Category != null)
	{
		<li><a href="#">@mProduct.Category.Name</a> <span class="divider">/</span></li>
	}
	<li class="active">@mProduct.Name</li>
</ul>

<div class="row">
	<div id="gallery" class="span3">
		<a href="@mProduct.ImageUrl" title="@mProduct.Name">
			<img src="@mProduct.ImageUrl" style="width:100%" alt="@mProduct.Name" />
		</a>
		<div id="differentview" class="moreOptopm carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<a href="@mProduct.ImageUrl"> <img style="width:29%" src="@mProduct.ImageUrl" alt="" /></a>
					<a href="@mProduct.ImageUrl"> <img style="width:29%" src="@mProduct.ImageUrl" alt="" /></a>
					<a href="@mProduct.ImageUrl"> <img style="width:29%" src="@mProduct.ImageUrl" alt="" /></a>
				</div>
			</div>
		</div>

		<div class="btn-toolbar">
			@* ... static buttons that DO NOT WORK >@v@<... *@
			<div class="btn-group">
				<span class="btn"><i class="icon-envelope"></i></span>
				<span class="btn"><i class="icon-print"></i></span>
				<span class="btn"><i class="icon-zoom-in"></i></span>
				<span class="btn"><i class="icon-star"></i></span>
				<span class="btn"><i class=" icon-thumbs-up"></i></span>
				<span class="btn"><i class="icon-thumbs-down"></i></span>
			</div>
		</div>
	</div>
	<div class="span6">

		<h3>@mProduct.Name </h3>
		<small>- @mProduct.Description</small>
		<hr class="soft" />

		<form class="form-horizontal qtyFrm">
			<div class="control-group">
				<label class="control-label"><span>$@mProduct.Price.ToString("N2")</span></label>
				<div class="controls">
					<input type="number" class="span1" placeholder="Qty." value="1" min="1" max="@mProduct.Stock" />
					<button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
				</div>
			</div>
		</form>

		<hr class="soft" />

		<h4>@mProduct.Stock items in stock</h4>

		@* ... static color selection form THAT DO NOT WORK ... *@
		<form class="form-horizontal qtyFrm pull-right">
			<div class="control-group">
				<label class="control-label"><span>Color</span></label>
				<div class="controls">
					<select class="span2">
						<option>Black</option>
						<option>Red</option>
						<option>Blue</option>
						<option>Brown</option>
					</select>
				</div>
			</div>
		</form>
		<hr class="soft clr" />

		<p> @mProduct.Description </p>
		<a class="btn btn-small pull-right" href="#detail">More Details</a>
		<br class="clr" />
		<a href="#" name="detail"></a>
		<hr class="soft" />
	</div>
	<div class="span9">
		<ul id="productDetail" class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
			<li><a href="#profile" data-toggle="tab">Related Products</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="home">
				<partial name="_ProductDetailsTab" model="mProduct" />
			</div>
			<div class="tab-pane fade" id="profile">
				<partial name="_relatedProductsTab" model="Model.RelatedProds" />
			</div>
		</div>
	</div>
</div>