@model WebDevStd2531.Models.HomeViewModelIndex
@{
    // two most expensive products
    var topTwoMostExpensive = Model.FeaturedProducts
    .OrderByDescending(p => p.Price)
    .Take(2)
    .ToList();
}

<div class="well well-small">
    @* Cart data remains hardcoded as I am not going there yet  *@
    <a id="myCart" href="product_summary.html"><img src="~/assets/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a>
</div>

<ul id="sideManu" class="nav nav-tabs nav-stacked">

    @foreach (var grandCategory in Model.AllGrandCategories)
    {
        <li class="subMenu">
            @{
                int totalGrandCount = grandCategory.Categories?.Sum(c => c.Products?.Count() ?? 0) ?? 0;
            }
            <a> @grandCategory.Name [@totalGrandCount]</a>

            <ul style="display:none">
                @foreach (var category in grandCategory.Categories)
                {
                    int categoryCount = category.Products?.Count() ?? 0;
                    <li>
                        <a href="products.html?categoryId=@category.Id">
                            <i class="icon-chevron-right"></i>@category.Name (@categoryCount)
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

<br />

@* 2 most expensive products *@
@foreach (var item in topTwoMostExpensive)
{
    <div class="thumbnail">
        <img src="@item.ImageUrl" alt="@item.Name" />
        <div class="caption">
            <h5>@item.Name</h5>
            <h4 style="text-align:center">
                <a class="btn" href="product_details.html?id=@item.Id"> <i class="icon-zoom-in"></i></a>
                <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a>
                <a class="btn btn-primary" href="#">$@item.Price.ToString("F2")</a>
            </h4>
        </div>
    </div>
    <br />
}

@* STATIC PAYMENT *@
<div class="thumbnail">
    <img src="~/assets/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
    <div class="caption">
        <h5>Payment Methods</h5>
    </div>
</div>