@model List<WebDevStd2531.Models.GrandCategory>
@using Microsoft.AspNetCore.Identity
@using WebDevStd2531.AppData

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var allProducts = Model
        .SelectMany(gc => gc.Categories)
        .SelectMany(c => c.Products)
        .Where(p => p != null)
		.ToList();//GCate have many Cate, Cate have many Prod, get all Prods

    var topTwoMostExpensive = allProducts
        .OrderByDescending(p => p.Price)
        .Take(2)
        .ToList();
}

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="well well-small">
        @* Cart data remains hardcoded as I aint going for it yet *@
            <a id="myCart" asp-controller="Prod" asp-action="CartDetail"><img src="~/assets/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a>
        </div>
    }

<ul id="sideManu" class="nav nav-tabs nav-stacked">
    @foreach (var grandCategory in Model)
    {
        <li class="subMenu">
            @{
                int totalGrandCount = grandCategory.Categories?.Sum(c => c.Products?.Count() ?? 0) ?? 0;
            }
            <a> @grandCategory.Name [@totalGrandCount]</a>

            <ul style="display:none">
                @foreach (var category in grandCategory.Categories)
                {
                    int categoryCount = category.Products?.Count() ?? 0;
                    <li>
                        <a
                            asp-controller="Prod"
                            asp-action="CateDetail"
                            asp-route-id="@category.Id">
                            <i class="icon-chevron-right"></i>@category.Name (@categoryCount)
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
<br />

@* STATIC STUFF ---------------------NAV--------------------- *@
@* 2 most expensive products *@
@foreach (var item in topTwoMostExpensive)
{
    <div class="thumbnail">
        <img src="@item.ImageUrl" alt="@item.Name" />
        <div class="caption">
            <h5>@item.Name</h5>
            <h4 style="text-align:center">
                <a class="btn"
                    asp-controller="Prod"
                    asp-action="ProdDetail"
                    asp-route-id="@item.Id">
                    <i class="icon-zoom-in"></i>
                </a>
                <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a>
                <a class="btn btn-primary" href="#">$@item.Price.ToString("F2")</a>
            </h4>
        </div>
    </div>
    <br />
}

@* STATIC PAYMENT *@
<div class="thumbnail">
    <img src="~/assets/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
    <div class="caption">
        <h5>Payment Methods</h5>
    </div>
</div>




