@model List<WebDevStd2531.Models.Product>
@using Microsoft.AspNetCore.Identity
@using WebDevStd2531.AppData

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
	ViewData["Title"] = "ProdAdminist";
	var totalProd = Model.Count;
}
<div class="span9">
	<ul class="breadcrumb">
		<li>
			<a 
				asp-area=""
			    asp-controller="Home"
			    asp-action="Index">
				Home
			</a>
			<span class="divider">/</span>
		</li>
		<li class="active"> Current Data Bank of Products</li>
	</ul>
	
	<h3> Current Data Bank of Products [ <small> @totalProd Item(s) </small>]
		<a
			asp-area="Admin"
			asp-controller="ProdAdmin"
			asp-action="AddProd"
			class="btn btn-success pull-right">
			Insert new Product
		</a>
		<a 
			asp-area=""
		    asp-controller="home"
			asp-action="Index"
			class="btn pull-right">
			<i class="icon-arrow-left"></i>
			Return to Shop
		</a>
		</h3>
	<hr class="soft" />
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>Success!</strong> @TempData["SuccessMessage"]
		</div>
	}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>ProdName & Description</th>
				<th>Category</th>
				<th>Price & Stock</th>
				<th>Disc & Tax</th>
				<th>Administ</th>
				@* for button *@
			</tr>
		</thead>
		<tbody>
			@foreach (var prod in Model)
			{
				<tr id="row-@prod.Id">
					<td>
						<img width="60" src="@prod.ImageUrl" alt="@prod.Name" />
					</td>
					<td>
						@prod.Name
						<br />
						<small>Description: <strong>@prod.Description</strong></small>
					</td>
					<td>
						@prod.Category?.Name
					</td>
					<td>
						$@prod.Price.ToString("N2")
						<br />
						<small>Stock: <strong>@prod.Stock</strong></small>
					</td>
					<td>
						Discount: @((prod.Discount ?? 0).ToString("N0"))%
						<br />
						<small>Tax: <strong>@((prod.Tax ?? 0).ToString("N0"))%</strong></small>
					</td>
					<td>
						 <small>
							<a 
								asp-area="Admin"
								asp-controller="ProdAdmin"
							    asp-action="EditProd"
							    asp-route-id="@prod.Id"
							    class="btn btn-primary">
								<i class="icon-edit icon-white"></i>
							</a>
							<form
								asp-area="Admin"
								asp-controller="ProdAdmin"
								asp-action="DeleteProd"
								asp-route-id="@prod.Id"
								method="post"
								style="display: inline;"
								onsubmit="return confirm('Are you sure you want to delete product @prod.Name?');">
								<button type="submit" class="btn btn-danger">
									<i class="icon-trash icon-white"></i>
								</button>
							</form>
						</small>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
